.mui-table-view{
	margin-top: 20px;
}
.mui-table-view::before {
    height: 0px;
}
.mui-table-view::after {
    height: 0px;
}
.mui-table-view-cell::after {
    left: 0;
}
.mui-content > .mui-table-view:first-child {
    margin-top: 15px;
}
.mui-media-body{
	height: 40;
    line-height: 40px;
    font-size: smaller;
}
.mui-table-view .mui-media-object{
	width: 25px;
	height: 25px;
	line-height: 25px;
    margin-top: 6px;
	vertical-align:bottom;
	font-size: x-large;
	color: deepskyblue;
}

.mui-table-view-cell {
    padding: 8px 15px;
}
.mui-table-view-cell::after {
    right: 15px;
    left: 15px;
}
.header .mui-media-object{
	width: 56px;
	height: 56px;
	line-height: 56px;
	margin-top: 5px;
}
.header .mui-media-object{
	max-width: 56px;
}
.header .mui-media-body{
	height: 56px;
    line-height: 40px;
}
.header p {
    margin-bottom: 0;
    margin-top: -16px;
}
.header a,.header span{
	display: inline-block !important;
}
.header span {
    margin-right: 16px;
    margin-top: 20px;
    color: #8f8f94;
}
.wallet{
	font-size: xx-large !important;
    margin-left: -3px;
    margin-top: 8px !important;
}
.face{
	color: orange !important;
}
