<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
   		<link rel="stylesheet" href="../css/iconfont.css">
		<link href="../css/mui.imageviewer.css" rel="stylesheet" />
		<link href="../css/im-chat.css" rel="stylesheet" />
		<link href="../css/chatViewFont.css" rel="stylesheet" />
		<link href="../css/chatView.css" rel="stylesheet" />
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title"></h1>
	        <a class="mui-icon iconfont mui-pull-right">&#xe60a;</a>
	    </header>
		
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
				<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
					<% if(item.sender=='self' ) { %>
						<i class="msg-user mui-icon mui-icon-person"></i>
					<% } else { %>
						<img class="msg-user-img" src="../<%= header %>" alt="" />
					<% } %>
					<div class="msg-content">
						<div class="msg-content-inner">
							<% if(item.type=='text' ) { %>
								<%=( item.content|| '&nbsp;&nbsp;') %>
							<% } else if(item.type=='image' ) { %>
								<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
							<% } else if(item.type=='sound' ) { %>
								<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
								<span class="play-state">点击播放</span>
							<% } %>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
					<div class="mui-item-clear"></div>
				</div>
			<% } %>
		</script>
		<div class="mui-content">
			<div id='msg-list'>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<i id='msg-image' class="mui-icon iconfont yuyin"></i>
			</div>
			<div class="footer-center">
				<div contenteditable="true" id='msg-text' class='input-text'></div>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id="biaoqing" class="iconfont icon-biaoqing"></i>
				<i id='msg-type' class="mui-icon mui-icon-plus"></i>
				<i id='msg-type' class="mui-icon mui-icon-paperplane"></i>
			</label>
		</footer>
		
		
		<!--更多功能栏-->
		<div id="Gallery" class="mui-slider">
				<div class="mui-slider-group">
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#" class="takePhoto">
									<span class="mui-icon iconfont icon-xiangce-copy"></span>
									<div class="mui-media-body">图片</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont yanjing"></span>
									<div class="mui-media-body">小视频</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont hongbao"></span>
									<div class="mui-media-body">红包</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont weixinzhanghuzhuye226"></span>
									<div class="mui-media-body">转账</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont icon-dongtaiyemianxiaotubiao03"></span>
									<div class="mui-media-body">我的收藏</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon mui-icon-location"></span>
									<div class="mui-media-body">位置</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont video"></span>
									<div class="mui-media-body">视频聊天</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<a href="#">
									<span class="mui-icon iconfont icon-wo"></span>
									<div class="mui-media-body">名片</div>
								</a>
							</li>
							
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
								<a href="#">
									<span class="mui-icon mui-icon-mic"></span>
									<div class="mui-media-body">语音输入</div>
								</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
		
		<!--表情包-->
		<div id="biaoqingbao" class="mui-slider">
				<div class="mui-slider-group" id="selectFace">
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/1.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/2.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/3.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/4.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/5.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/6.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/7.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/8.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/9.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/10.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/11.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/12.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/13.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/14.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/15.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/16.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/17.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/18.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/19.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/20.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/21.gif" alt="" />
							</li>
							
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/22.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/23.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/24.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/25.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/26.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/27.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/28.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/29.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/30.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/31.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/32.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/33.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/34.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/35.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/36.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/37.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/38.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/39.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/40.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/41.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/42.gif" alt="" />
							</li>
							
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/43.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/44.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/45.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/46.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/47.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/48.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/49.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/50.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/51.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/52.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/53.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/54.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/55.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/56.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/57.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/58.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/59.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/60.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/61.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/62.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/63.gif" alt="" />
							</li>
							
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/64.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/65.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/66.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/67.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/68.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/69.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/70.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/71.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/72.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/73.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/74.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/75.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/76.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/77.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/78.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/79.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/80.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/81.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/82.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/83.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/84.gif" alt="" />
							</li>
							
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/85.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/86.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/87.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/88.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/89.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/90.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/91.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/92.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/93.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/94.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/95.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/96.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/97.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/98.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/99.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/100.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/103.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/104.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/106.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/108.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/109.gif" alt="" />
							</li>
						</ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9">
							
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/110.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/111.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/112.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/113.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/114.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/115.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/116.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/117.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/118.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/119.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/120.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/121.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/122.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/123.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/124.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/125.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/126.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/127.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/128.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/129.gif" alt="" />
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2">
								<img src="../images/QQExpression/132.gif" alt="" />
							</li>
						</ul>
					</div>

				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
		
		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/arttmpl.js"></script>
		<script src="../js/chatView.js"></script>
	</body>

</html>
